.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  @include breakpoint-up(large) {
    text-align: left;
  }

  .header {
    flex: 100%;
    max-width: 455px;
    @include breakpoint-up(large) {
      flex: 50%;
    }

    &__title {
      color: $darkMagenta;
      font-weight: $font-bold;
      font-size: to-rem(32);
      line-height: 1;
      margin-bottom: to-rem(23);

      @include breakpoint-up(large) {
        font-size: to-rem(55);
      }
    }

    &__text {
      font-size: $font-normal;
      color: $darkGrayishMagenta;
      font-weight: $font-regular;
    }
  }

  .review {
    flex: 100%;
    max-width: 540px;
    
    @include breakpoint-down(medium) {
      margin: to-rem(32) auto;
    }

    @include breakpoint-up(large) {
      flex: 50%;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      max-width: 445px;
      background-color: $lightGrayishMagenta;
      margin: to-rem(18) auto;
      padding: to-rem(20) to-rem(14);
      border-radius: to-rem(10);
      font-size: $font-normal;
      font-weight: $font-bold;
      color: #502050;

      @include breakpoint-up(large) {
        flex-direction: row;
        margin: to-rem(18) 0 to-rem(18) auto;
        &:first-child {
          margin-right: 90px;
        }
        &:nth-child(2) {
          margin-right: 45px;
        }
      }

      span {
        display: block;
      }
    }

    &__stars {
      margin-bottom: to-rem(14);

      @include breakpoint-up(large) {
        margin: 0;
      }

      img {
        vertical-align: middle;
        object-fit: cover;

        &:not(:last-child) {
          margin-right: to-rem(8);
        }
      }
    }
  }
}