html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  background-image: url(../../images/bg-pattern-top-mobile.svg), url(../../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat no-repeat;
  background-position: left top, right bottom;

  @include breakpoint-down(small) {
    background-size: contain, contain;
  }

  @include breakpoint-up(medium) {
    background-image: url(../../images/bg-pattern-top-desktop.svg), url(../../images/bg-pattern-bottom-desktop.svg);
  }
}

.container {
  padding: to-rem(98) to-rem(24);

  @include breakpoint-down(medium) {
    max-width: to-rem(445);
    margin: 0 auto;
  }

  @include breakpoint-up(large) {
    padding: to-rem(60);
  }

  @include breakpoint-up(xLarge) {
    padding: to-rem(98) to-rem(120);
  }
}

.align-center {
  text-align: center;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

.attribution {
  padding: 0 to-rem(24);
  font-size: to-rem(11);
  text-align: center;
  color: $darkMagenta;
}
.attribution a {
  color: $darkMagenta;
  font-weight: $font-bold;
}