.testimonial {
  display: grid;
  align-items: flex-start;
  gap: to-rem(16);

  @include breakpoint-up(large) {
    grid-template-columns: repeat(3, 1fr);
    gap: to-rem(30);
    padding-top: to-rem(70);
  }

  .card {
    background-color: $darkMagenta;
    padding: to-rem(40) to-rem(32);
    color: $white;
    font-size: $font-normal;
    border-radius: to-rem(10);

    @include breakpoint-up(large) {
      &:nth-child(2) {
        margin-top: to-rem(16);
      }
  
      &:last-child {
        margin-top: to-rem(32);
      }
    }

    &__user__infos {
      display: flex;
      align-items: center;
    }

    &__user__avatar {
      width: to-rem(42);
      border-radius: to-rem(50);
      margin-right: to-rem(22);
    }

    &__user__details {
      line-height: 1.5;
    }

    &__user__name {
      font-size: $font-normal;
      font-weight: $font-bold;
    }

    &__user__position {
      color: $softPink;
    }

    &__text {
      font-size: $font-small;
      font-weight: $font-regular;
      padding-top: to-rem(29);
      line-height: 1.8;
    }
  }
}