.testimonial {
  display: flex;
  flex-wrap: wrap;

  .card {
    flex: 100%;
    background-color: $darkMagenta;
    padding: to-em(40) to-em(32);
    color: $white;
    font-size: $font-normal;
    border-radius: to-em(10);
    margin: to-em(8) auto;

    &__user__infos {
      display: flex;
      align-items: center;
    }

    &__user__avatar {
      width: to-em(42);
      border-radius: to-em(50);
      margin-right: to-em(22);
    }

    &__user__details {
      span {
        display: block;
        line-height: 1.5;
      }
    }

    &__user__name {
      font-weight: $font-bold;
    }

    &__user__position {
      color: $softPink;
    }

    &__text {
      font-size: to-em(13);
      font-weight: $font-regular;
      padding-top: to-em(29);
      line-height: 1.8;
    }
  }
}