// Colors
// Primary

$darkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

// Neutral

$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Typography
// Font Size

$font-normal: to-rem(15);

// Font Weight
$font-light: 400;
$font-regular: 500;
$font-bold: 700;